<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h1>Añadir un contacto</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form #formAddContact="ngForm" (ngSubmit)="saveContact(formAddContact);">
          <div class="row form-group">
            <div class="col-md-6 col-12 form-group">
              <label for="name">Nombre (*)</label>
              <input type="text"
                     name="name"
                     id="name"
                     class="form-control"
                     minlength="3"
                     required
                     placeholder="Escribe el nombre"
                     #name="ngModel"
                     [(ngModel)]="contact.name"
                     [ngClass]="{'is-valid': name.dirty && !name.errors,
                                'is-invalid': name.dirty && name.errors}">
              <!-- name.dirty // verifica si ya fue manipulado el campo-->

              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="name.errors?.required">Nombre requerido</span>
                <span *ngIf="name.errors?.minlength">Nombre necesita minimo {{name.errors?.minlength.requiredLength}}
                  caracteres
                      y llevas {{name.errors?.minlength.actualLength}} </span>
              </div>

            </div>
            <div class="col-md-6 col-12 form-group">
              <label for="surname">Surname (*)</label>
              <input type="text"
                     name="surname"
                     id="surname"
                     class="form-control"
                     minlength="3"
                     required
                     placeholder="Escribe el apellido"
                     #surname="ngModel"
                     [(ngModel)]="contact.surname"
                     [ngClass]="{'is-valid': surname.dirty && !surname.errors,
                                'is-invalid': surname.dirty && surname.errors}">
              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="surname.errors?.required">Apellido requerido</span>
                <span
                  *ngIf="surname.errors?.minlength">Apellido necesita minimo {{surname.errors?.minlength.requiredLength}}
                  caracteres
                      y llevas {{surname.errors?.minlength.actualLength}} </span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-12 form-group">
              <label for="description">Descripcion contacto</label>
              <textarea name="description" id="description" maxlength="50"
                        placeholder="Escribe una descripcion del contacto" class="form-control is-valid"
                        [(ngModel)]="contact.description" #description="ngModel"></textarea>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6 col-12 form-group">
              <label for="sex">Sexo</label>
              <select name="sex" id="sex" class="custom-select is-valid" [(ngModel)]="contact.sex" #sex="ngModel" required>
                <option value="mujer" selected>Mujer</option>
                <option value="hombre">Hombre</option>
              </select>
            </div>

            <div class="col-md-6 col-12 form-group">
              <label for="company">Empresa</label>
              <input type="text"
                     name="company"
                     id="company"
                     maxlength="20"
                     placeholder="Nombre compañia"
                     class="form-control is-valid"
                     #company="ngModel"
                     [(ngModel)]="contact.company"
              >
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6 col-12 form-group">
              <label for="email">Email (*)</label>
              <input type="email"
                     class="form-control"
                     name="email"
                     id="email"
                     placeholder="Email"
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                     required
                     #email="ngModel"
                     [(ngModel)]="contact.email"
                     [ngClass]="{'is-valid': email.dirty && !email.errors,
                                'is-invalid': email.dirty && email.errors}">

              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="email.errors?.required">Email requerido</span>
                <span *ngIf="email.errors?.pattern">El formato no es correcto</span>
              </div>

            </div>

            <div class="col-md-6 col-12 form-group">
              <label for="telephone">Telefono (*)</label>
              <input type="tel"
                     class="form-control"
                     name="telephone"
                     id="telephone"
                     placeholder="Telefono"
                     pattern="^(0057|\+57)?(\d\d\d)-? ?(\d\d)-? ?(\d)-? ?(\d)-? ?(\d\d)$"
                     required
                     #telephone="ngModel"
                     [(ngModel)]="contact.telephone"
                     [ngClass]="{'is-valid': telephone.dirty && !telephone.errors,
                                'is-invalid': telephone.dirty && telephone.errors}">

              <div class="valid-feedback">
                <span>¡Correcto!</span>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="telephone.errors?.required">Telefono requerido</span>
                <span *ngIf="telephone.errors?.pattern">El formato no es correcto</span>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <button class="btn btn-primary btn-block"
                      type="submit"
                      [disabled]="formAddContact.invalid" >Añadir contacto</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
